@import 'variables.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700');

html {
  font-family: 'Montserrat', sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #000;
  margin: 0;
  padding: var(--space-xl);
}

p {
  margin: 0;
  color: var(--font-color-base);
  font-size: var(--font-size-md);
  font-weight: 500;
  text-align: center;
}

.spacement-bottom-sm {
  margin-bottom: var(--space-sm)
}

.spacement-bottom-md {
  margin-bottom: var(--space-md)
}

.music-name {
  font-weight: 700;
  font-size: var(--font-size-lg);
}

.album-name {
  color: var(--font-color-secondary);
}

.album-cover {
  min-height: calc(var(--WINDOW-WIDTH) - 2 * var(--space-xl));
  width: 100%;
}

.loader {
  position: absolute;
  left: calc(var(--WINDOW-WIDTH)/2 - 30px);
  margin-top: var(--space-xl);
  border: 4px solid var(--font-color-secondary);
  border-radius: 50%;
  border-top: 4px solid var(--spotify-green);
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
