:root {
  --BASE-SPACEMENT: 4px;
  --WINDOW-WIDTH: 250px;
  --MAX-HEIGHT-PLAYLISTS-CONTAINER: 300px;
}

:root {
  --space-sm: var(--BASE-SPACEMENT);
  --space-md: calc(var(--BASE-SPACEMENT) * 2);
  --space-lg: calc(var(--BASE-SPACEMENT) * 3);
  --space-xl: calc(var(--BASE-SPACEMENT) * 4);
  --font-size-md: 14px;
  --font-size-lg: 16px;
  --color-primary: #FFF;
  --color-secondary: #B1B0AF;
  --spotify-green: #00b75f;
}